In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [18]:
data = pd.read_csv('data/2023/NSS3_2023.csv')
data.head(2)

C:\Users\pm_\AppData\Local\Temp\ipykernel_18508\726925041.py:1: DtypeWarning: Columns (0,8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/2023/NSS3_2023.csv')

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Suppression reason,Option 1,...,Positivity measure (%),Benchmark (%),Difference (ppt),Standard deviation,Contribution to benchmark (%),Materially below benchmark (%),Broadly in line with benchmark (%),Materially above benchmark (%),Publication response headcount,Publication response rate (%)
0,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Q01: How good are teaching staff at explaining...,226.8,296.1,NaN,60.82,...,91.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249,76.6
1,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Q02: How often do teaching staff make the subj...,226.8,296.1,NaN,34.99,...,79.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249,76.6

In [28]:
code = 'CAH02-06-07'
level = 'All undergraduates'
provider = 'Matrix College of Counselling and Psychotherapy Ltd'

data[(data['Subject code'] == code) & (data['Level of study'] == level) & (data['Provider name'] == provider)][['Responses', 'Population', 'Option 1', 'Option 2', 'Option 3', 'Option 4', 'Positivity measure (%)', 'Question', 'Publication response rate (%)']]

,Responses,Population,Option 1,Option 2,Option 3,Option 4,Positivity measure (%),Question,Publication response rate (%)
476509,29.0,30.0,24.0,5.0,0.0,0.0,100.0,Q01: How good are teaching staff at explaining...,96.7
476510,29.0,30.0,24.0,5.0,0.0,0.0,100.0,Q02: How often do teaching staff make the subj...,96.7
476511,29.0,30.0,24.0,5.0,0.0,0.0,100.0,Q03: How often is the course intellectually st...,96.7
476512,29.0,30.0,22.0,6.0,1.0,0.0,96.6,Q04: How often does your course challenge you ...,96.7
476513,29.0,30.0,20.0,9.0,0.0,0.0,100.0,Q05: To what extent have you had the chance to...,96.7
476514,29.0,30.0,19.0,10.0,0.0,0.0,100.0,Q06: How well does your course introduce subje...,96.7
476515,29.0,30.0,24.0,5.0,0.0,0.0,100.0,Q07: To what extent have you had the chance to...,96.7
476516,29.0,30.0,19.0,9.0,1.0,0.0,96.6,Q08: To what extent does your course have the ...,96.7
476517,29.0,30.0,21.0,8.0,0.0,0.0,100.0,Q09: How well has your course developed your k...,96.7
476518,29.0,30.0,15.0,12.0,2.0,0.0,93.1,Q10: How clear were the marking criteria used ...,96.7
476519,29.0,30.0,16.0,13.0,0.0,0.0,100.0,Q11: How fair has the marking and assessment b...,96.7
476520,29.0,30.0,19.0,10.0,0.0,0.0,100.0,Q12: How well have assessments allowed you to ...,96.7
476521,29.0,30.0,21.0,8.0,0.0,0.0,100.0,Q13: How often have you received assessment fe...,96.7
476522,29.0,30.0,17.0,10.0,2.0,0.0,93.1,Q14: How often does feedback help you to impro...,96.7
476523,29.0,30.0,14.0,15.0,0.0,0.0,100.0,Q15: How easy was it to contact teaching staff...,96.7
476524,29.0,30.0,19.0,10.0,0.0,0.0,100.0,Q16: How well have teaching staff supported yo...,96.7
476525,29.0,30.0,17.0,12.0,0.0,0.0,100.0,Q17: How well organised is your course?,96.7
476526,29.0,30.0,16.0,12.0,1.0,0.0,96.6,Q18: How well were any changes to teaching on ...,96.7
476527,24.0,30.0,9.0,14.0,1.0,0.0,95.8,Q19: How well have the IT resources and facili...,96.7
476528,29.0,30.0,8.0,18.0,3.0,0.0,89.7,Q20: How well have the library resources (e.g....,96.7
476529,26.0,30.0,10.0,13.0,3.0,0.0,88.5,Q21: How easy is it to access subject specific...,96.7
476530,29.0,30.0,25.0,4.0,0.0,0.0,100.0,Q22: To what extent do you get the right oppor...,96.7
476531,28.0,30.0,17.0,10.0,1.0,0.0,96.4,Q23: To what extent are students' opinions abo...,96.7
476532,29.0,30.0,12.0,15.0,2.0,0.0,93.1,Q24: How clear is it that students' feedback o...,96.7
476533,22.0,30.0,7.0,15.0,0.0,0.0,100.0,Q25: How well does the students' union (associ...,96.7
476534,27.0,30.0,10.0,12.0,4.0,1.0,81.5,Q26: How well communicated was information abo...,96.7
476535,29.0,30.0,14.0,15.0,0.0,0.0,100.0,"Q27: During your studies, how free did you fee...",96.7
476536,29.0,30.0,NaN,NaN,NaN,NaN,99.1,Theme 1: Teaching on my course,96.7
476537,29.0,30.0,NaN,NaN,NaN,NaN,99.3,Theme 2: Learning opportunities,96.7
476538,29.0,30.0,NaN,NaN,NaN,NaN,97.2,Theme 3: Assessment and feedback,96.7
476539,29.0,30.0,NaN,NaN,NaN,NaN,100.0,Theme 4: Academic support,96.7
476540,29.0,30.0,NaN,NaN,NaN,NaN,98.3,Theme 5: Organisation and management,96.7
476541,29.0,30.0,NaN,NaN,NaN,NaN,90.2,Theme 6: Learning resources,96.7
476542,29.0,30.0,NaN,NaN,NaN,NaN,96.6,Theme 7: Student voice,96.7

In [964]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489939 entries, 0 to 489938
Data columns (total 25 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   UKPRN                               489939 non-null  object
 1   Provider name                       489939 non-null  object
 2   Level of study                      489939 non-null  object
 3   Subject code                        489939 non-null  object
 4   Subject                             489939 non-null  object
 5   Question                            489939 non-null  object
 6   Responses                           489939 non-null  float64
 7   Population                          489939 non-null  float64
 8   Suppression reason                  348 non-null     object
 9   Option 1                            388931 non-null  float64
 10  Option 2                            388931 non-null  float64
 11  Option 3                            388931 non-null  float64
 12  Option 4                            388931 non-null  float64
 13  Option 5                            2893 non-null    float64
 14  This does not apply to me           388931 non-null  float64
 15  Positivity measure (%)              489919 non-null  float64
 16  Benchmark (%)                       430287 non-null  float64
 17  Difference (ppt)                    430287 non-null  float64
 18  Standard deviation                  430287 non-null  float64
 19  Contribution to benchmark (%)       430287 non-null  float64
 20  Materially below benchmark (%)      430054 non-null  float64
 21  Broadly in line with benchmark (%)  430054 non-null  float64
 22  Materially above benchmark (%)      430054 non-null  float64
 23  Publication response headcount      489939 non-null  int64
 24  Publication response rate (%)       489939 non-null  float64
dtypes: float64(17), int64(1), object(7)
memory usage: 93.4+ MB

In [965]:
data['Level of study'].value_counts()

Level of study
All undergraduates                           231184
First degree                                 209188
Undergraduate with postgraduate component     25991
Other undergraduate                           23576
Name: count, dtype: int64

In [966]:
df = data[['UKPRN', 'Provider name', 'Level of study', 'Subject code', 'Subject', 'Question', 'Responses', 'Population',
 'Option 1', 'Option 2', 'Option 3', 'Option 4', 'Option 5', 'Positivity measure (%)',
 'Publication response rate (%)']]

In [967]:
df['UKPRN'].value_counts()

UKPRN
UK          16434
England     16354
Scotland    10264
Wales        9214
NI           7038
            ...
10007361       34
10013767       34
10001005       34
10008914       34
10000571       24
Name: count, Length: 418, dtype: int64

In [968]:
df['Provider name'].value_counts()

Provider name
UK                           16434
England                      16354
Scotland                     10264
Wales                         9214
Northern Ireland              7038
                             ...
Waverley Abbey Trust            34
Bury College                    34
AI Training Services Ltd.       34
Cliff College                   34
Shockout Arts Ltd               34
Name: count, Length: 417, dtype: int64

In [969]:
df[df['UKPRN']==10007361]['Provider name'].value_counts()

Provider name
Waverley Abbey Trust    34
Name: count, dtype: int64

In [970]:
df.iloc[25:28]

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Option 1,Option 2,Option 3,Option 4,Option 5,Positivity measure (%),Publication response rate (%)
25,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Q26: How well communicated was information abo...,217.5,296.1,65.48,97.98,43.99,10.0,NaN,75.2,76.6
26,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Theme 1: Teaching on my course,226.8,296.1,NaN,NaN,NaN,NaN,NaN,86.3,76.6
27,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Theme 2: Learning opportunities,226.8,296.1,NaN,NaN,NaN,NaN,NaN,82.9,76.6

In [971]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489939 entries, 0 to 489938
Data columns (total 15 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   UKPRN                          489939 non-null  object
 1   Provider name                  489939 non-null  object
 2   Level of study                 489939 non-null  object
 3   Subject code                   489939 non-null  object
 4   Subject                        489939 non-null  object
 5   Question                       489939 non-null  object
 6   Responses                      489939 non-null  float64
 7   Population                     489939 non-null  float64
 8   Option 1                       388931 non-null  float64
 9   Option 2                       388931 non-null  float64
 10  Option 3                       388931 non-null  float64
 11  Option 4                       388931 non-null  float64
 12  Option 5                       2893 non-null    float64
 13  Positivity measure (%)         489919 non-null  float64
 14  Publication response rate (%)  489939 non-null  float64
dtypes: float64(9), object(6)
memory usage: 56.1+ MB

In [972]:
theme_df = df[df['Question'].str.contains('Theme')]

In [973]:
theme_indices = list(theme_df.index.values) 
df = df[~df.index.isin(theme_indices)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 388943 entries, 0 to 489931
Data columns (total 15 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   UKPRN                          388943 non-null  object
 1   Provider name                  388943 non-null  object
 2   Level of study                 388943 non-null  object
 3   Subject code                   388943 non-null  object
 4   Subject                        388943 non-null  object
 5   Question                       388943 non-null  object
 6   Responses                      388943 non-null  float64
 7   Population                     388943 non-null  float64
 8   Option 1                       388931 non-null  float64
 9   Option 2                       388931 non-null  float64
 10  Option 3                       388931 non-null  float64
 11  Option 4                       388931 non-null  float64
 12  Option 5                       2893 non-null    float64
 13  Positivity measure (%)         388931 non-null  float64
 14  Publication response rate (%)  388943 non-null  float64
dtypes: float64(9), object(6)
memory usage: 47.5+ MB

In [974]:
df.iloc[24:28]

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Option 1,Option 2,Option 3,Option 4,Option 5,Positivity measure (%),Publication response rate (%)
24,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Q25: How well does the students' union (associ...,203.5,296.1,44.65,108.97,37.33,12.5,NaN,75.5,76.6
25,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Q26: How well communicated was information abo...,217.5,296.1,65.48,97.98,43.99,10.0,NaN,75.2,76.6
33,UK,UK,All undergraduates,CAH01-01-02,Medicine (non-specific),Q01: How good are teaching staff at explaining...,6399.9,8411.8,1742.60,3917.60,586.80,152.9,NaN,88.4,76.3
34,UK,UK,All undergraduates,CAH01-01-02,Medicine (non-specific),Q02: How often do teaching staff make the subj...,6395.9,8411.8,1252.70,3937.60,1019.60,186.0,NaN,81.2,76.3

In [975]:
null_options = df[(df['Option 1'].isna())]
null_options.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, 335706 to 463376
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   UKPRN                          12 non-null     object
 1   Provider name                  12 non-null     object
 2   Level of study                 12 non-null     object
 3   Subject code                   12 non-null     object
 4   Subject                        12 non-null     object
 5   Question                       12 non-null     object
 6   Responses                      12 non-null     float64
 7   Population                     12 non-null     float64
 8   Option 1                       0 non-null      float64
 9   Option 2                       0 non-null      float64
 10  Option 3                       0 non-null      float64
 11  Option 4                       0 non-null      float64
 12  Option 5                       0 non-null      float64
 13  Positivity measure (%)         0 non-null      float64
 14  Publication response rate (%)  12 non-null     float64
dtypes: float64(9), object(6)
memory usage: 1.5+ KB

In [976]:
# df = df[~(df['Option 1'].isna())]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 388943 entries, 0 to 489931
Data columns (total 15 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   UKPRN                          388943 non-null  object
 1   Provider name                  388943 non-null  object
 2   Level of study                 388943 non-null  object
 3   Subject code                   388943 non-null  object
 4   Subject                        388943 non-null  object
 5   Question                       388943 non-null  object
 6   Responses                      388943 non-null  float64
 7   Population                     388943 non-null  float64
 8   Option 1                       388931 non-null  float64
 9   Option 2                       388931 non-null  float64
 10  Option 3                       388931 non-null  float64
 11  Option 4                       388931 non-null  float64
 12  Option 5                       2893 non-null    float64
 13  Positivity measure (%)         388931 non-null  float64
 14  Publication response rate (%)  388943 non-null  float64
dtypes: float64(9), object(6)
memory usage: 47.5+ MB

In [977]:
df.rename(columns={'Positivity measure (%)': 'Positivity', 'Publication response rate (%)': 'Response Rate'}, inplace=True)

In [978]:
df[['Question', 'Positivity']].head()

                                            Question  Positivity
0  Q01: How good are teaching staff at explaining...        91.3
1  Q02: How often do teaching staff make the subj...        79.1
2  Q03: How often is the course intellectually st...        88.2
3  Q04: How often does your course challenge you ...        86.6
4  Q05: To what extent have you had the chance to...        88.5

In [979]:
str(df['Question'].values[0]).split(':')[0]

'Q01'

In [980]:
df[['Question Num', 'Question']] = df['Question'].str.split(':', expand=True)

In [981]:
# df.drop(columns='Question', inplace=True)
df[['Question Num', 'Positivity']].head()

  Question Num  Positivity
0          Q01        91.3
1          Q02        79.1
2          Q03        88.2
3          Q04        86.6
4          Q05        88.5

In [982]:
df.head()

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Option 1,Option 2,Option 3,Option 4,Option 5,Positivity,Response Rate,Question Num
0,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How good are teaching staff at explaining thi...,226.8,296.1,60.82,146.13,18.33,1.5,NaN,91.3,76.6,Q01
1,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often do teaching staff make the subject ...,226.8,296.1,34.99,144.30,41.99,5.5,NaN,79.1,76.6,Q02
2,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often is the course intellectually stimul...,226.5,296.1,101.14,98.48,24.83,2.0,NaN,88.2,76.6,Q03
3,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often does your course challenge you to a...,226.8,296.1,97.63,98.82,28.33,2.0,NaN,86.6,76.6,Q04
4,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),To what extent have you had the chance to exp...,225.8,296.1,83.47,116.31,24.50,1.5,NaN,88.5,76.6,Q05

In [983]:
df['Question Num'].value_counts()

Question Num
Q01    14428
Q02    14428
Q26    14428
Q25    14428
Q24    14428
Q23    14428
Q22    14428
Q21    14428
Q20    14428
Q19    14428
Q18    14428
Q17    14428
Q16    14428
Q15    14428
Q14    14428
Q13    14428
Q12    14428
Q11    14428
Q10    14428
Q09    14428
Q08    14428
Q07    14428
Q06    14428
Q05    14428
Q04    14428
Q03    14428
Q27    10922
Q28     2893
Name: count, dtype: int64

In [984]:
print(df[(df['Option 1'].isna())].shape)
print(df[(df['Option 2'].isna())].shape)
print(df[(df['Option 3'].isna())].shape)
print(df[(df['Option 4'].isna())].shape)
print(df[(df['Option 5'].isna())].shape)

(12, 16)
(12, 16)
(12, 16)
(12, 16)
(386050, 16)

In [985]:
df[(df['Option 1'].isna())]['UKPRN'].value_counts()

UKPRN
10007859    6
10007779    4
10007811    2
Name: count, dtype: int64

In [986]:
df[(df['Option 1'].isna())]['Subject code'].value_counts()

Subject code
CAH05-01-01    6
CAH03-01-06    4
CAH02-06-07    2
Name: count, dtype: int64

In [987]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 388943 entries, 0 to 489931
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   UKPRN           388943 non-null  object
 1   Provider name   388943 non-null  object
 2   Level of study  388943 non-null  object
 3   Subject code    388943 non-null  object
 4   Subject         388943 non-null  object
 5   Question        388943 non-null  object
 6   Responses       388943 non-null  float64
 7   Population      388943 non-null  float64
 8   Option 1        388931 non-null  float64
 9   Option 2        388931 non-null  float64
 10  Option 3        388931 non-null  float64
 11  Option 4        388931 non-null  float64
 12  Option 5        2893 non-null    float64
 13  Positivity      388931 non-null  float64
 14  Response Rate   388943 non-null  float64
 15  Question Num    388943 non-null  object
dtypes: float64(9), object(7)
memory usage: 50.4+ MB

In [988]:
df[~((df['UKPRN'] == 10007859) & (df['Subject code'] == 'CAH05-01-01'))].shape

(388889, 16)

In [989]:
df = df[~((df['UKPRN'] == 10007859) & (df['Subject code'] == 'CAH05-01-01'))]
df = df[~((df['UKPRN'] == 10007779) & (df['Subject code'] == 'CAH03-01-06'))]
df = df[~((df['UKPRN'] == 10007811) & (df['Subject code'] == 'CAH02-06-07'))]

In [990]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 388781 entries, 0 to 489931
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   UKPRN           388781 non-null  object
 1   Provider name   388781 non-null  object
 2   Level of study  388781 non-null  object
 3   Subject code    388781 non-null  object
 4   Subject         388781 non-null  object
 5   Question        388781 non-null  object
 6   Responses       388781 non-null  float64
 7   Population      388781 non-null  float64
 8   Option 1        388781 non-null  float64
 9   Option 2        388781 non-null  float64
 10  Option 3        388781 non-null  float64
 11  Option 4        388781 non-null  float64
 12  Option 5        2893 non-null    float64
 13  Positivity      388781 non-null  float64
 14  Response Rate   388781 non-null  float64
 15  Question Num    388781 non-null  object
dtypes: float64(9), object(7)
memory usage: 50.4+ MB

In [991]:
overall_satisfaction_rows = df[df['Question Num'] == 'Q28']
overall_satisfaction_rows.head(2)

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Option 1,Option 2,Option 3,Option 4,Option 5,Positivity,Response Rate,Question Num
32814,NI,Northern Ireland,All undergraduates,CAH01-01-02,Medicine (non-specific),"Overall, I am satisfied with the quality of t...",233.0,285.0,66.0,119.0,21.0,18.0,9.0,79.4,83.2,Q28
32848,NI,Northern Ireland,All undergraduates,CAH01-01-04,Dentistry,"Overall, I am satisfied with the quality of t...",53.0,56.0,37.0,14.0,2.0,0.0,0.0,96.2,94.6,Q28

In [992]:
not_english_prn = list(overall_satisfaction_rows['UKPRN'].unique())
not_english_df = df[(df['UKPRN'].isin(not_english_prn))]
not_english_df.head()

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Option 1,Option 2,Option 3,Option 4,Option 5,Positivity,Response Rate,Question Num
32788,NI,Northern Ireland,All undergraduates,CAH01-01-02,Medicine (non-specific),How good are teaching staff at explaining thi...,236.0,285.0,59.0,153.0,18.0,6.0,NaN,89.8,83.2,Q01
32789,NI,Northern Ireland,All undergraduates,CAH01-01-02,Medicine (non-specific),How often do teaching staff make the subject ...,236.0,285.0,49.0,148.0,34.0,5.0,NaN,83.5,83.2,Q02
32790,NI,Northern Ireland,All undergraduates,CAH01-01-02,Medicine (non-specific),How often is the course intellectually stimul...,236.0,285.0,152.0,77.0,6.0,1.0,NaN,97.0,83.2,Q03
32791,NI,Northern Ireland,All undergraduates,CAH01-01-02,Medicine (non-specific),How often does your course challenge you to a...,236.0,285.0,109.0,100.0,25.0,2.0,NaN,88.6,83.2,Q04
32792,NI,Northern Ireland,All undergraduates,CAH01-01-02,Medicine (non-specific),To what extent have you had the chance to exp...,234.0,285.0,92.0,108.0,29.0,5.0,NaN,85.5,83.2,Q05

In [993]:
not_english_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78345 entries, 32788 to 484151
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   UKPRN           78345 non-null  object
 1   Provider name   78345 non-null  object
 2   Level of study  78345 non-null  object
 3   Subject code    78345 non-null  object
 4   Subject         78345 non-null  object
 5   Question        78345 non-null  object
 6   Responses       78345 non-null  float64
 7   Population      78345 non-null  float64
 8   Option 1        78345 non-null  float64
 9   Option 2        78345 non-null  float64
 10  Option 3        78345 non-null  float64
 11  Option 4        78345 non-null  float64
 12  Option 5        2893 non-null   float64
 13  Positivity      78345 non-null  float64
 14  Response Rate   78345 non-null  float64
 15  Question Num    78345 non-null  object
dtypes: float64(9), object(7)
memory usage: 10.2+ MB

In [994]:
freedom_expression_rows = df[df['Question Num'] == 'Q27']
freedom_expression_rows.head(2)

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Option 1,Option 2,Option 3,Option 4,Option 5,Positivity,Response Rate,Question Num
16460,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),"During your studies, how free did you feel to...",184.5,251.1,68.63,84.32,27.5,4.0,NaN,82.9,75.6,Q27
16494,England,England,All undergraduates,CAH01-01-02,Medicine (non-specific),"During your studies, how free did you feel to...",4897.0,6637.8,1448.40,2296.00,786.7,365.9,NaN,76.5,75.9,Q27

In [995]:
english_prn = list(freedom_expression_rows['UKPRN'].unique())
english_df = df[(df['UKPRN'].isin(english_prn))]
english_df.head()

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Option 1,Option 2,Option 3,Option 4,Option 5,Positivity,Response Rate,Question Num
16434,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How good are teaching staff at explaining thi...,189.8,251.1,49.82,125.13,14.33,0.5,NaN,92.2,75.6,Q01
16435,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often do teaching staff make the subject ...,189.8,251.1,23.99,124.30,35.99,5.5,NaN,78.1,75.6,Q02
16436,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often is the course intellectually stimul...,189.5,251.1,81.14,83.48,22.83,2.0,NaN,86.9,75.6,Q03
16437,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often does your course challenge you to a...,189.8,251.1,77.63,86.82,23.33,2.0,NaN,86.7,75.6,Q04
16438,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),To what extent have you had the chance to exp...,189.8,251.1,69.47,97.31,21.50,1.5,NaN,87.9,75.6,Q05

In [996]:
english_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 295252 entries, 16434 to 489931
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   UKPRN           295252 non-null  object
 1   Provider name   295252 non-null  object
 2   Level of study  295252 non-null  object
 3   Subject code    295252 non-null  object
 4   Subject         295252 non-null  object
 5   Question        295252 non-null  object
 6   Responses       295252 non-null  float64
 7   Population      295252 non-null  float64
 8   Option 1        295252 non-null  float64
 9   Option 2        295252 non-null  float64
 10  Option 3        295252 non-null  float64
 11  Option 4        295252 non-null  float64
 12  Option 5        0 non-null       float64
 13  Positivity      295252 non-null  float64
 14  Response Rate   295252 non-null  float64
 15  Question Num    295252 non-null  object
dtypes: float64(9), object(7)
memory usage: 38.3+ MB

In [997]:
english_df['Question Num'].value_counts()

Question Num
Q01    10936
Q15    10936
Q26    10936
Q25    10936
Q24    10936
Q23    10936
Q22    10936
Q21    10936
Q20    10936
Q19    10936
Q18    10936
Q17    10936
Q16    10936
Q14    10936
Q02    10936
Q13    10936
Q12    10936
Q11    10936
Q10    10936
Q09    10936
Q08    10936
Q07    10936
Q06    10936
Q05    10936
Q04    10936
Q03    10936
Q27    10916
Name: count, dtype: int64

In [998]:
english_df.iloc[25]['Question Num']

'Q26'

In [999]:
df.iloc[25]

UKPRN                                                            UK
Provider name                                                    UK
Level of study                                   All undergraduates
Subject code                                            CAH01-01-01
Subject                             Medical sciences (non-specific)
Question           How well communicated was information about y...
Responses                                                     217.5
Population                                                    296.1
Option 1                                                      65.48
Option 2                                                      97.98
Option 3                                                      43.99
Option 4                                                       10.0
Option 5                                                        NaN
Positivity                                                     75.2
Response Rate                                                  76.6
Question Num                                                    Q26
Name: 25, dtype: object

In [1000]:
# counter = 1
# for index, row in df.iterrows():
#   if index == 26*counter - 1:
#     rows_to_insert = {}
#     start = index - 25
#     end = index + 1
#     print(index+1, end=':')
#     print(counter, end=':')
#     print(df.iloc[index+1]['Question Num'])
#     if (df.iloc[index+1]['Question Num'] == 'Q27'):
#       print(df.iloc[index]['Question Num'])
#       print(df.iloc[index+1]['Question Num'])
#       print(df.iloc[index+2]['Question Num'])
#       counter += 1
#     if counter == 1000:
#       break

In [1001]:
# df_columns = df.columns.tolist()
# only_26qn = pd.DataFrame(columns=df_columns)
# with_27qn = pd.DataFrame(columns=df_columns)
# with_28qn = pd.DataFrame(columns=df_columns)

# counter = 1
# for index, row in df.iterrows():
#   if index == 26*counter - 1:
#     rows_to_insert = {}
#     start = index - 25
#     end = index + 1
#     print(index+1, end=':')
#     print(counter)
#     if (df.iloc[index+1]['Question Num'] == 'Q01'):
#       for col in df_columns:
#         rows_to_insert[col] = list(df.iloc[start:end][col].values)
#       new_df = pd.DataFrame(rows_to_insert, columns=df_columns)
#       only_26qn = pd.concat([only_26qn, new_df], ignore_index=True)
#       counter += 1
#     elif (df.iloc[index+1]['Question Num'] == 'Q27'):
#       for col in df_columns:
#         end += 1
#         rows_to_insert[col] = list(df.iloc[start:end][col].values)
#       new_df = pd.DataFrame(rows_to_insert, columns=df_columns)
#       with_27qn = pd.concat([with_27qn, new_df], ignore_index=True)
#       counter += 1

In [1002]:
# print(df.iloc[25]['Question Num'])
# print(df.iloc[51]['Question Num'])
# print(df.iloc[77]['Question Num'])

In [1003]:
# only_26qn.iloc[24:28]

In [1004]:
# only_26qn.info()

In [1005]:
# only_26qn['Question Num'].value_counts()

In [1006]:
# with_27qn.head()

In [1007]:
df.shape

(388781, 16)

In [1008]:
print(388781 / 26)
print(388781 % 26)
print(388781 // 26)

14953.115384615385
3
14953

In [1009]:
counter = 1
for idx in range(25, 14953, 25):
  if idx == 25*counter:
    # print(df.iloc[idx - (25 - counter + 1) : idx + counter]['Question Num'].values.tolist())
    if df.iloc[idx + counter]['Question Num'] != 'Q01':
      print(counter)
      print('---')
      print("Last Question:", df.iloc[idx + counter - 1]['Question Num'])
      print("Next Question:", df.iloc[idx + counter]['Question Num'])
      print("Position:", idx + counter)
    # print('---')
    counter += 1
    # print(counter)
  # if idx == 25:
  #   print(df.iloc[idx-25:idx+1]['Question Num'].values.tolist())
  #   print("Next Question:", df.iloc[idx+1]['Question Num'])
  # if idx == 50:
  #   print(df.iloc[idx-24:idx+2]['Question Num'].values.tolist())
  #   print("Next Question:", df.iloc[idx+2]['Question Num'])
  # if idx == 250:
  #   # print('Second')
  #   break

499
---
Last Question: Q26
Next Question: Q27
Position: 12974
500
---
Last Question: Q25
Next Question: Q26
Position: 13000
501
---
Last Question: Q24
Next Question: Q25
Position: 13026
502
---
Last Question: Q23
Next Question: Q24
Position: 13052
503
---
Last Question: Q22
Next Question: Q23
Position: 13078
504
---
Last Question: Q21
Next Question: Q22
Position: 13104
505
---
Last Question: Q20
Next Question: Q21
Position: 13130
506
---
Last Question: Q19
Next Question: Q20
Position: 13156
507
---
Last Question: Q18
Next Question: Q19
Position: 13182
508
---
Last Question: Q17
Next Question: Q18
Position: 13208
509
---
Last Question: Q16
Next Question: Q17
Position: 13234
510
---
Last Question: Q15
Next Question: Q16
Position: 13260
511
---
Last Question: Q14
Next Question: Q15
Position: 13286
512
---
Last Question: Q13
Next Question: Q14
Position: 13312
513
---
Last Question: Q12
Next Question: Q13
Position: 13338
514
---
Last Question: Q11
Next Question: Q12
Position: 13364
515
---
Last Question: Q10
Next Question: Q11
Position: 13390
516
---
Last Question: Q09
Next Question: Q10
Position: 13416
517
---
Last Question: Q08
Next Question: Q09
Position: 13442
518
---
Last Question: Q07
Next Question: Q08
Position: 13468
519
---
Last Question: Q06
Next Question: Q07
Position: 13494
520
---
Last Question: Q05
Next Question: Q06
Position: 13520
521
---
Last Question: Q04
Next Question: Q05
Position: 13546
522
---
Last Question: Q03
Next Question: Q04
Position: 13572
523
---
Last Question: Q02
Next Question: Q03
Position: 13598
524
---
Last Question: Q01
Next Question: Q02
Position: 13624
526
---
Last Question: Q26
Next Question: Q27
Position: 13676
527
---
Last Question: Q25
Next Question: Q26
Position: 13702
528
---
Last Question: Q24
Next Question: Q25
Position: 13728
529
---
Last Question: Q23
Next Question: Q24
Position: 13754
530
---
Last Question: Q22
Next Question: Q23
Position: 13780
531
---
Last Question: Q21
Next Question: Q22
Position: 13806
532
---
Last Question: Q20
Next Question: Q21
Position: 13832
533
---
Last Question: Q19
Next Question: Q20
Position: 13858
534
---
Last Question: Q18
Next Question: Q19
Position: 13884
535
---
Last Question: Q17
Next Question: Q18
Position: 13910
536
---
Last Question: Q16
Next Question: Q17
Position: 13936
537
---
Last Question: Q15
Next Question: Q16
Position: 13962
538
---
Last Question: Q14
Next Question: Q15
Position: 13988
539
---
Last Question: Q13
Next Question: Q14
Position: 14014
540
---
Last Question: Q12
Next Question: Q13
Position: 14040
541
---
Last Question: Q11
Next Question: Q12
Position: 14066
542
---
Last Question: Q10
Next Question: Q11
Position: 14092
543
---
Last Question: Q09
Next Question: Q10
Position: 14118
544
---
Last Question: Q08
Next Question: Q09
Position: 14144
545
---
Last Question: Q07
Next Question: Q08
Position: 14170
546
---
Last Question: Q06
Next Question: Q07
Position: 14196
547
---
Last Question: Q05
Next Question: Q06
Position: 14222
548
---
Last Question: Q04
Next Question: Q05
Position: 14248
549
---
Last Question: Q03
Next Question: Q04
Position: 14274
550
---
Last Question: Q02
Next Question: Q03
Position: 14300
551
---
Last Question: Q01
Next Question: Q02
Position: 14326
553
---
Last Question: Q26
Next Question: Q27
Position: 14378
554
---
Last Question: Q25
Next Question: Q26
Position: 14404
555
---
Last Question: Q24
Next Question: Q25
Position: 14430
556
---
Last Question: Q23
Next Question: Q24
Position: 14456
557
---
Last Question: Q22
Next Question: Q23
Position: 14482
558
---
Last Question: Q21
Next Question: Q22
Position: 14508
559
---
Last Question: Q20
Next Question: Q21
Position: 14534
560
---
Last Question: Q19
Next Question: Q20
Position: 14560
561
---
Last Question: Q18
Next Question: Q19
Position: 14586
562
---
Last Question: Q17
Next Question: Q18
Position: 14612
563
---
Last Question: Q16
Next Question: Q17
Position: 14638
564
---
Last Question: Q15
Next Question: Q16
Position: 14664
565
---
Last Question: Q14
Next Question: Q15
Position: 14690
566
---
Last Question: Q13
Next Question: Q14
Position: 14716
567
---
Last Question: Q12
Next Question: Q13
Position: 14742
568
---
Last Question: Q11
Next Question: Q12
Position: 14768
569
---
Last Question: Q10
Next Question: Q11
Position: 14794
570
---
Last Question: Q09
Next Question: Q10
Position: 14820
571
---
Last Question: Q08
Next Question: Q09
Position: 14846
572
---
Last Question: Q07
Next Question: Q08
Position: 14872
573
---
Last Question: Q06
Next Question: Q07
Position: 14898
574
---
Last Question: Q05
Next Question: Q06
Position: 14924
575
---
Last Question: Q04
Next Question: Q05
Position: 14950
576
---
Last Question: Q03
Next Question: Q04
Position: 14976
577
---
Last Question: Q02
Next Question: Q03
Position: 15002
578
---
Last Question: Q01
Next Question: Q02
Position: 15028
580
---
Last Question: Q26
Next Question: Q27
Position: 15080
581
---
Last Question: Q25
Next Question: Q26
Position: 15106
582
---
Last Question: Q24
Next Question: Q25
Position: 15132
583
---
Last Question: Q23
Next Question: Q24
Position: 15158
584
---
Last Question: Q22
Next Question: Q23
Position: 15184
585
---
Last Question: Q21
Next Question: Q22
Position: 15210
586
---
Last Question: Q20
Next Question: Q21
Position: 15236
587
---
Last Question: Q19
Next Question: Q20
Position: 15262
588
---
Last Question: Q18
Next Question: Q19
Position: 15288
589
---
Last Question: Q17
Next Question: Q18
Position: 15314
590
---
Last Question: Q16
Next Question: Q17
Position: 15340
591
---
Last Question: Q15
Next Question: Q16
Position: 15366
592
---
Last Question: Q14
Next Question: Q15
Position: 15392
593
---
Last Question: Q13
Next Question: Q14
Position: 15418
594
---
Last Question: Q12
Next Question: Q13
Position: 15444
595
---
Last Question: Q11
Next Question: Q12
Position: 15470
596
---
Last Question: Q10
Next Question: Q11
Position: 15496
597
---
Last Question: Q09
Next Question: Q10
Position: 15522
598
---
Last Question: Q08
Next Question: Q09
Position: 15548

In [1010]:
df.iloc[:12974]['Question Num'].value_counts()

Question Num
Q01    499
Q02    499
Q25    499
Q24    499
Q23    499
Q22    499
Q21    499
Q20    499
Q19    499
Q18    499
Q17    499
Q16    499
Q15    499
Q14    499
Q13    499
Q12    499
Q11    499
Q10    499
Q09    499
Q08    499
Q07    499
Q06    499
Q05    499
Q04    499
Q03    499
Q26    499
Name: count, dtype: int64

In [1011]:
12974-27

12947

In [1012]:
df.iloc[12947]

UKPRN                                                            UK
Provider name                                                    UK
Level of study            Undergraduate with postgraduate component
Subject code                                            CAH26-01-06
Subject                                              Earth sciences
Question           How well communicated was information about y...
Responses                                                     178.2
Population                                                    267.0
Option 1                                                      58.14
Option 2                                                      78.54
Option 3                                                      28.18
Option 4                                                       13.3
Option 5                                                        NaN
Positivity                                                     76.7
Response Rate                                                  69.2
Question Num                                                    Q26
Name: 16426, dtype: object

In [1013]:
# df.iloc[12974-26:12975]

In [1014]:
df.iloc[12974]

UKPRN                                                       England
Provider name                                               England
Level of study                                   All undergraduates
Subject code                                            CAH01-01-01
Subject                             Medical sciences (non-specific)
Question           During your studies, how free did you feel to...
Responses                                                     184.5
Population                                                    251.1
Option 1                                                      68.63
Option 2                                                      84.32
Option 3                                                       27.5
Option 4                                                        4.0
Option 5                                                        NaN
Positivity                                                     82.9
Response Rate                                                  75.6
Question Num                                                    Q27
Name: 16460, dtype: object

In [1015]:
counter = 1
for idx in range(26, 14953, 26):
  if idx == 26*counter:
    # print(df.iloc[idx - (25 - counter + 1) : idx + counter]['Question Num'].values.tolist())
    if df.iloc[idx + counter]['Question Num'] != 'Q01':
      print(counter)
      print('---')
      print("Last Question:", df.iloc[idx + counter - 1]['Question Num'])
      print("Next Question:", df.iloc[idx + counter]['Question Num'])
      print("Position:", idx + counter)
    # print('---')
    counter += 1

1
---
Last Question: Q01
Next Question: Q02
Position: 27
2
---
Last Question: Q02
Next Question: Q03
Position: 54
3
---
Last Question: Q03
Next Question: Q04
Position: 81
4
---
Last Question: Q04
Next Question: Q05
Position: 108
5
---
Last Question: Q05
Next Question: Q06
Position: 135
6
---
Last Question: Q06
Next Question: Q07
Position: 162
7
---
Last Question: Q07
Next Question: Q08
Position: 189
8
---
Last Question: Q08
Next Question: Q09
Position: 216
9
---
Last Question: Q09
Next Question: Q10
Position: 243
10
---
Last Question: Q10
Next Question: Q11
Position: 270
11
---
Last Question: Q11
Next Question: Q12
Position: 297
12
---
Last Question: Q12
Next Question: Q13
Position: 324
13
---
Last Question: Q13
Next Question: Q14
Position: 351
14
---
Last Question: Q14
Next Question: Q15
Position: 378
15
---
Last Question: Q15
Next Question: Q16
Position: 405
16
---
Last Question: Q16
Next Question: Q17
Position: 432
17
---
Last Question: Q17
Next Question: Q18
Position: 459
18
---
Last Question: Q18
Next Question: Q19
Position: 486
19
---
Last Question: Q19
Next Question: Q20
Position: 513
20
---
Last Question: Q20
Next Question: Q21
Position: 540
21
---
Last Question: Q21
Next Question: Q22
Position: 567
22
---
Last Question: Q22
Next Question: Q23
Position: 594
23
---
Last Question: Q23
Next Question: Q24
Position: 621
24
---
Last Question: Q24
Next Question: Q25
Position: 648
25
---
Last Question: Q25
Next Question: Q26
Position: 675
27
---
Last Question: Q01
Next Question: Q02
Position: 729
28
---
Last Question: Q02
Next Question: Q03
Position: 756
29
---
Last Question: Q03
Next Question: Q04
Position: 783
30
---
Last Question: Q04
Next Question: Q05
Position: 810
31
---
Last Question: Q05
Next Question: Q06
Position: 837
32
---
Last Question: Q06
Next Question: Q07
Position: 864
33
---
Last Question: Q07
Next Question: Q08
Position: 891
34
---
Last Question: Q08
Next Question: Q09
Position: 918
35
---
Last Question: Q09
Next Question: Q10
Position: 945
36
---
Last Question: Q10
Next Question: Q11
Position: 972
37
---
Last Question: Q11
Next Question: Q12
Position: 999
38
---
Last Question: Q12
Next Question: Q13
Position: 1026
39
---
Last Question: Q13
Next Question: Q14
Position: 1053
40
---
Last Question: Q14
Next Question: Q15
Position: 1080
41
---
Last Question: Q15
Next Question: Q16
Position: 1107
42
---
Last Question: Q16
Next Question: Q17
Position: 1134
43
---
Last Question: Q17
Next Question: Q18
Position: 1161
44
---
Last Question: Q18
Next Question: Q19
Position: 1188
45
---
Last Question: Q19
Next Question: Q20
Position: 1215
46
---
Last Question: Q20
Next Question: Q21
Position: 1242
47
---
Last Question: Q21
Next Question: Q22
Position: 1269
48
---
Last Question: Q22
Next Question: Q23
Position: 1296
49
---
Last Question: Q23
Next Question: Q24
Position: 1323
50
---
Last Question: Q24
Next Question: Q25
Position: 1350
51
---
Last Question: Q25
Next Question: Q26
Position: 1377
53
---
Last Question: Q01
Next Question: Q02
Position: 1431
54
---
Last Question: Q02
Next Question: Q03
Position: 1458
55
---
Last Question: Q03
Next Question: Q04
Position: 1485
56
---
Last Question: Q04
Next Question: Q05
Position: 1512
57
---
Last Question: Q05
Next Question: Q06
Position: 1539
58
---
Last Question: Q06
Next Question: Q07
Position: 1566
59
---
Last Question: Q07
Next Question: Q08
Position: 1593
60
---
Last Question: Q08
Next Question: Q09
Position: 1620
61
---
Last Question: Q09
Next Question: Q10
Position: 1647
62
---
Last Question: Q10
Next Question: Q11
Position: 1674
63
---
Last Question: Q11
Next Question: Q12
Position: 1701
64
---
Last Question: Q12
Next Question: Q13
Position: 1728
65
---
Last Question: Q13
Next Question: Q14
Position: 1755
66
---
Last Question: Q14
Next Question: Q15
Position: 1782
67
---
Last Question: Q15
Next Question: Q16
Position: 1809
68
---
Last Question: Q16
Next Question: Q17
Position: 1836
69
---
Last Question: Q17
Next Question: Q18
Position: 1863
70
---
Last Question: Q18
Next Question: Q19
Position: 1890
71
---
Last Question: Q19
Next Question: Q20
Position: 1917
72
---
Last Question: Q20
Next Question: Q21
Position: 1944
73
---
Last Question: Q21
Next Question: Q22
Position: 1971
74
---
Last Question: Q22
Next Question: Q23
Position: 1998
75
---
Last Question: Q23
Next Question: Q24
Position: 2025
76
---
Last Question: Q24
Next Question: Q25
Position: 2052
77
---
Last Question: Q25
Next Question: Q26
Position: 2079
79
---
Last Question: Q01
Next Question: Q02
Position: 2133
80
---
Last Question: Q02
Next Question: Q03
Position: 2160
81
---
Last Question: Q03
Next Question: Q04
Position: 2187
82
---
Last Question: Q04
Next Question: Q05
Position: 2214
83
---
Last Question: Q05
Next Question: Q06
Position: 2241
84
---
Last Question: Q06
Next Question: Q07
Position: 2268
85
---
Last Question: Q07
Next Question: Q08
Position: 2295
86
---
Last Question: Q08
Next Question: Q09
Position: 2322
87
---
Last Question: Q09
Next Question: Q10
Position: 2349
88
---
Last Question: Q10
Next Question: Q11
Position: 2376
89
---
Last Question: Q11
Next Question: Q12
Position: 2403
90
---
Last Question: Q12
Next Question: Q13
Position: 2430
91
---
Last Question: Q13
Next Question: Q14
Position: 2457
92
---
Last Question: Q14
Next Question: Q15
Position: 2484
93
---
Last Question: Q15
Next Question: Q16
Position: 2511
94
---
Last Question: Q16
Next Question: Q17
Position: 2538
95
---
Last Question: Q17
Next Question: Q18
Position: 2565
96
---
Last Question: Q18
Next Question: Q19
Position: 2592
97
---
Last Question: Q19
Next Question: Q20
Position: 2619
98
---
Last Question: Q20
Next Question: Q21
Position: 2646
99
---
Last Question: Q21
Next Question: Q22
Position: 2673
100
---
Last Question: Q22
Next Question: Q23
Position: 2700
101
---
Last Question: Q23
Next Question: Q24
Position: 2727
102
---
Last Question: Q24
Next Question: Q25
Position: 2754
103
---
Last Question: Q25
Next Question: Q26
Position: 2781
105
---
Last Question: Q01
Next Question: Q02
Position: 2835
106
---
Last Question: Q02
Next Question: Q03
Position: 2862
107
---
Last Question: Q03
Next Question: Q04
Position: 2889
108
---
Last Question: Q04
Next Question: Q05
Position: 2916
109
---
Last Question: Q05
Next Question: Q06
Position: 2943
110
---
Last Question: Q06
Next Question: Q07
Position: 2970
111
---
Last Question: Q07
Next Question: Q08
Position: 2997
112
---
Last Question: Q08
Next Question: Q09
Position: 3024
113
---
Last Question: Q09
Next Question: Q10
Position: 3051
114
---
Last Question: Q10
Next Question: Q11
Position: 3078
115
---
Last Question: Q11
Next Question: Q12
Position: 3105
116
---
Last Question: Q12
Next Question: Q13
Position: 3132
117
---
Last Question: Q13
Next Question: Q14
Position: 3159
118
---
Last Question: Q14
Next Question: Q15
Position: 3186
119
---
Last Question: Q15
Next Question: Q16
Position: 3213
120
---
Last Question: Q16
Next Question: Q17
Position: 3240
121
---
Last Question: Q17
Next Question: Q18
Position: 3267
122
---
Last Question: Q18
Next Question: Q19
Position: 3294
123
---
Last Question: Q19
Next Question: Q20
Position: 3321
124
---
Last Question: Q20
Next Question: Q21
Position: 3348
125
---
Last Question: Q21
Next Question: Q22
Position: 3375
126
---
Last Question: Q22
Next Question: Q23
Position: 3402
127
---
Last Question: Q23
Next Question: Q24
Position: 3429
128
---
Last Question: Q24
Next Question: Q25
Position: 3456
129
---
Last Question: Q25
Next Question: Q26
Position: 3483
131
---
Last Question: Q01
Next Question: Q02
Position: 3537
132
---
Last Question: Q02
Next Question: Q03
Position: 3564
133
---
Last Question: Q03
Next Question: Q04
Position: 3591
134
---
Last Question: Q04
Next Question: Q05
Position: 3618
135
---
Last Question: Q05
Next Question: Q06
Position: 3645
136
---
Last Question: Q06
Next Question: Q07
Position: 3672
137
---
Last Question: Q07
Next Question: Q08
Position: 3699
138
---
Last Question: Q08
Next Question: Q09
Position: 3726
139
---
Last Question: Q09
Next Question: Q10
Position: 3753
140
---
Last Question: Q10
Next Question: Q11
Position: 3780
141
---
Last Question: Q11
Next Question: Q12
Position: 3807
142
---
Last Question: Q12
Next Question: Q13
Position: 3834
143
---
Last Question: Q13
Next Question: Q14
Position: 3861
144
---
Last Question: Q14
Next Question: Q15
Position: 3888
145
---
Last Question: Q15
Next Question: Q16
Position: 3915
146
---
Last Question: Q16
Next Question: Q17
Position: 3942
147
---
Last Question: Q17
Next Question: Q18
Position: 3969
148
---
Last Question: Q18
Next Question: Q19
Position: 3996
149
---
Last Question: Q19
Next Question: Q20
Position: 4023
150
---
Last Question: Q20
Next Question: Q21
Position: 4050
151
---
Last Question: Q21
Next Question: Q22
Position: 4077
152
---
Last Question: Q22
Next Question: Q23
Position: 4104
153
---
Last Question: Q23
Next Question: Q24
Position: 4131
154
---
Last Question: Q24
Next Question: Q25
Position: 4158
155
---
Last Question: Q25
Next Question: Q26
Position: 4185
157
---
Last Question: Q01
Next Question: Q02
Position: 4239
158
---
Last Question: Q02
Next Question: Q03
Position: 4266
159
---
Last Question: Q03
Next Question: Q04
Position: 4293
160
---
Last Question: Q04
Next Question: Q05
Position: 4320
161
---
Last Question: Q05
Next Question: Q06
Position: 4347
162
---
Last Question: Q06
Next Question: Q07
Position: 4374
163
---
Last Question: Q07
Next Question: Q08
Position: 4401
164
---
Last Question: Q08
Next Question: Q09
Position: 4428
165
---
Last Question: Q09
Next Question: Q10
Position: 4455
166
---
Last Question: Q10
Next Question: Q11
Position: 4482
167
---
Last Question: Q11
Next Question: Q12
Position: 4509
168
---
Last Question: Q12
Next Question: Q13
Position: 4536
169
---
Last Question: Q13
Next Question: Q14
Position: 4563
170
---
Last Question: Q14
Next Question: Q15
Position: 4590
171
---
Last Question: Q15
Next Question: Q16
Position: 4617
172
---
Last Question: Q16
Next Question: Q17
Position: 4644
173
---
Last Question: Q17
Next Question: Q18
Position: 4671
174
---
Last Question: Q18
Next Question: Q19
Position: 4698
175
---
Last Question: Q19
Next Question: Q20
Position: 4725
176
---
Last Question: Q20
Next Question: Q21
Position: 4752
177
---
Last Question: Q21
Next Question: Q22
Position: 4779
178
---
Last Question: Q22
Next Question: Q23
Position: 4806
179
---
Last Question: Q23
Next Question: Q24
Position: 4833
180
---
Last Question: Q24
Next Question: Q25
Position: 4860
181
---
Last Question: Q25
Next Question: Q26
Position: 4887
183
---
Last Question: Q01
Next Question: Q02
Position: 4941
184
---
Last Question: Q02
Next Question: Q03
Position: 4968
185
---
Last Question: Q03
Next Question: Q04
Position: 4995
186
---
Last Question: Q04
Next Question: Q05
Position: 5022
187
---
Last Question: Q05
Next Question: Q06
Position: 5049
188
---
Last Question: Q06
Next Question: Q07
Position: 5076
189
---
Last Question: Q07
Next Question: Q08
Position: 5103
190
---
Last Question: Q08
Next Question: Q09
Position: 5130
191
---
Last Question: Q09
Next Question: Q10
Position: 5157
192
---
Last Question: Q10
Next Question: Q11
Position: 5184
193
---
Last Question: Q11
Next Question: Q12
Position: 5211
194
---
Last Question: Q12
Next Question: Q13
Position: 5238
195
---
Last Question: Q13
Next Question: Q14
Position: 5265
196
---
Last Question: Q14
Next Question: Q15
Position: 5292
197
---
Last Question: Q15
Next Question: Q16
Position: 5319
198
---
Last Question: Q16
Next Question: Q17
Position: 5346
199
---
Last Question: Q17
Next Question: Q18
Position: 5373
200
---
Last Question: Q18
Next Question: Q19
Position: 5400
201
---
Last Question: Q19
Next Question: Q20
Position: 5427
202
---
Last Question: Q20
Next Question: Q21
Position: 5454
203
---
Last Question: Q21
Next Question: Q22
Position: 5481
204
---
Last Question: Q22
Next Question: Q23
Position: 5508
205
---
Last Question: Q23
Next Question: Q24
Position: 5535
206
---
Last Question: Q24
Next Question: Q25
Position: 5562
207
---
Last Question: Q25
Next Question: Q26
Position: 5589
209
---
Last Question: Q01
Next Question: Q02
Position: 5643
210
---
Last Question: Q02
Next Question: Q03
Position: 5670
211
---
Last Question: Q03
Next Question: Q04
Position: 5697
212
---
Last Question: Q04
Next Question: Q05
Position: 5724
213
---
Last Question: Q05
Next Question: Q06
Position: 5751
214
---
Last Question: Q06
Next Question: Q07
Position: 5778
215
---
Last Question: Q07
Next Question: Q08
Position: 5805
216
---
Last Question: Q08
Next Question: Q09
Position: 5832
217
---
Last Question: Q09
Next Question: Q10
Position: 5859
218
---
Last Question: Q10
Next Question: Q11
Position: 5886
219
---
Last Question: Q11
Next Question: Q12
Position: 5913
220
---
Last Question: Q12
Next Question: Q13
Position: 5940
221
---
Last Question: Q13
Next Question: Q14
Position: 5967
222
---
Last Question: Q14
Next Question: Q15
Position: 5994
223
---
Last Question: Q15
Next Question: Q16
Position: 6021
224
---
Last Question: Q16
Next Question: Q17
Position: 6048
225
---
Last Question: Q17
Next Question: Q18
Position: 6075
226
---
Last Question: Q18
Next Question: Q19
Position: 6102
227
---
Last Question: Q19
Next Question: Q20
Position: 6129
228
---
Last Question: Q20
Next Question: Q21
Position: 6156
229
---
Last Question: Q21
Next Question: Q22
Position: 6183
230
---
Last Question: Q22
Next Question: Q23
Position: 6210
231
---
Last Question: Q23
Next Question: Q24
Position: 6237
232
---
Last Question: Q24
Next Question: Q25
Position: 6264
233
---
Last Question: Q25
Next Question: Q26
Position: 6291
235
---
Last Question: Q01
Next Question: Q02
Position: 6345
236
---
Last Question: Q02
Next Question: Q03
Position: 6372
237
---
Last Question: Q03
Next Question: Q04
Position: 6399
238
---
Last Question: Q04
Next Question: Q05
Position: 6426
239
---
Last Question: Q05
Next Question: Q06
Position: 6453
240
---
Last Question: Q06
Next Question: Q07
Position: 6480
241
---
Last Question: Q07
Next Question: Q08
Position: 6507
242
---
Last Question: Q08
Next Question: Q09
Position: 6534
243
---
Last Question: Q09
Next Question: Q10
Position: 6561
244
---
Last Question: Q10
Next Question: Q11
Position: 6588
245
---
Last Question: Q11
Next Question: Q12
Position: 6615
246
---
Last Question: Q12
Next Question: Q13
Position: 6642
247
---
Last Question: Q13
Next Question: Q14
Position: 6669
248
---
Last Question: Q14
Next Question: Q15
Position: 6696
249
---
Last Question: Q15
Next Question: Q16
Position: 6723
250
---
Last Question: Q16
Next Question: Q17
Position: 6750
251
---
Last Question: Q17
Next Question: Q18
Position: 6777
252
---
Last Question: Q18
Next Question: Q19
Position: 6804
253
---
Last Question: Q19
Next Question: Q20
Position: 6831
254
---
Last Question: Q20
Next Question: Q21
Position: 6858
255
---
Last Question: Q21
Next Question: Q22
Position: 6885
256
---
Last Question: Q22
Next Question: Q23
Position: 6912
257
---
Last Question: Q23
Next Question: Q24
Position: 6939
258
---
Last Question: Q24
Next Question: Q25
Position: 6966
259
---
Last Question: Q25
Next Question: Q26
Position: 6993
261
---
Last Question: Q01
Next Question: Q02
Position: 7047
262
---
Last Question: Q02
Next Question: Q03
Position: 7074
263
---
Last Question: Q03
Next Question: Q04
Position: 7101
264
---
Last Question: Q04
Next Question: Q05
Position: 7128
265
---
Last Question: Q05
Next Question: Q06
Position: 7155
266
---
Last Question: Q06
Next Question: Q07
Position: 7182
267
---
Last Question: Q07
Next Question: Q08
Position: 7209
268
---
Last Question: Q08
Next Question: Q09
Position: 7236
269
---
Last Question: Q09
Next Question: Q10
Position: 7263
270
---
Last Question: Q10
Next Question: Q11
Position: 7290
271
---
Last Question: Q11
Next Question: Q12
Position: 7317
272
---
Last Question: Q12
Next Question: Q13
Position: 7344
273
---
Last Question: Q13
Next Question: Q14
Position: 7371
274
---
Last Question: Q14
Next Question: Q15
Position: 7398
275
---
Last Question: Q15
Next Question: Q16
Position: 7425
276
---
Last Question: Q16
Next Question: Q17
Position: 7452
277
---
Last Question: Q17
Next Question: Q18
Position: 7479
278
---
Last Question: Q18
Next Question: Q19
Position: 7506
279
---
Last Question: Q19
Next Question: Q20
Position: 7533
280
---
Last Question: Q20
Next Question: Q21
Position: 7560
281
---
Last Question: Q21
Next Question: Q22
Position: 7587
282
---
Last Question: Q22
Next Question: Q23
Position: 7614
283
---
Last Question: Q23
Next Question: Q24
Position: 7641
284
---
Last Question: Q24
Next Question: Q25
Position: 7668
285
---
Last Question: Q25
Next Question: Q26
Position: 7695
287
---
Last Question: Q01
Next Question: Q02
Position: 7749
288
---
Last Question: Q02
Next Question: Q03
Position: 7776
289
---
Last Question: Q03
Next Question: Q04
Position: 7803
290
---
Last Question: Q04
Next Question: Q05
Position: 7830
291
---
Last Question: Q05
Next Question: Q06
Position: 7857
292
---
Last Question: Q06
Next Question: Q07
Position: 7884
293
---
Last Question: Q07
Next Question: Q08
Position: 7911
294
---
Last Question: Q08
Next Question: Q09
Position: 7938
295
---
Last Question: Q09
Next Question: Q10
Position: 7965
296
---
Last Question: Q10
Next Question: Q11
Position: 7992
297
---
Last Question: Q11
Next Question: Q12
Position: 8019
298
---
Last Question: Q12
Next Question: Q13
Position: 8046
299
---
Last Question: Q13
Next Question: Q14
Position: 8073
300
---
Last Question: Q14
Next Question: Q15
Position: 8100
301
---
Last Question: Q15
Next Question: Q16
Position: 8127
302
---
Last Question: Q16
Next Question: Q17
Position: 8154
303
---
Last Question: Q17
Next Question: Q18
Position: 8181
304
---
Last Question: Q18
Next Question: Q19
Position: 8208
305
---
Last Question: Q19
Next Question: Q20
Position: 8235
306
---
Last Question: Q20
Next Question: Q21
Position: 8262
307
---
Last Question: Q21
Next Question: Q22
Position: 8289
308
---
Last Question: Q22
Next Question: Q23
Position: 8316
309
---
Last Question: Q23
Next Question: Q24
Position: 8343
310
---
Last Question: Q24
Next Question: Q25
Position: 8370
311
---
Last Question: Q25
Next Question: Q26
Position: 8397
313
---
Last Question: Q01
Next Question: Q02
Position: 8451
314
---
Last Question: Q02
Next Question: Q03
Position: 8478
315
---
Last Question: Q03
Next Question: Q04
Position: 8505
316
---
Last Question: Q04
Next Question: Q05
Position: 8532
317
---
Last Question: Q05
Next Question: Q06
Position: 8559
318
---
Last Question: Q06
Next Question: Q07
Position: 8586
319
---
Last Question: Q07
Next Question: Q08
Position: 8613
320
---
Last Question: Q08
Next Question: Q09
Position: 8640
321
---
Last Question: Q09
Next Question: Q10
Position: 8667
322
---
Last Question: Q10
Next Question: Q11
Position: 8694
323
---
Last Question: Q11
Next Question: Q12
Position: 8721
324
---
Last Question: Q12
Next Question: Q13
Position: 8748
325
---
Last Question: Q13
Next Question: Q14
Position: 8775
326
---
Last Question: Q14
Next Question: Q15
Position: 8802
327
---
Last Question: Q15
Next Question: Q16
Position: 8829
328
---
Last Question: Q16
Next Question: Q17
Position: 8856
329
---
Last Question: Q17
Next Question: Q18
Position: 8883
330
---
Last Question: Q18
Next Question: Q19
Position: 8910
331
---
Last Question: Q19
Next Question: Q20
Position: 8937
332
---
Last Question: Q20
Next Question: Q21
Position: 8964
333
---
Last Question: Q21
Next Question: Q22
Position: 8991
334
---
Last Question: Q22
Next Question: Q23
Position: 9018
335
---
Last Question: Q23
Next Question: Q24
Position: 9045
336
---
Last Question: Q24
Next Question: Q25
Position: 9072
337
---
Last Question: Q25
Next Question: Q26
Position: 9099
339
---
Last Question: Q01
Next Question: Q02
Position: 9153
340
---
Last Question: Q02
Next Question: Q03
Position: 9180
341
---
Last Question: Q03
Next Question: Q04
Position: 9207
342
---
Last Question: Q04
Next Question: Q05
Position: 9234
343
---
Last Question: Q05
Next Question: Q06
Position: 9261
344
---

In [1016]:
df[df['Question Num'] == 'Q27'].head(2)

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Option 1,Option 2,Option 3,Option 4,Option 5,Positivity,Response Rate,Question Num
16460,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),"During your studies, how free did you feel to...",184.5,251.1,68.63,84.32,27.5,4.0,NaN,82.9,75.6,Q27
16494,England,England,All undergraduates,CAH01-01-02,Medicine (non-specific),"During your studies, how free did you feel to...",4897.0,6637.8,1448.40,2296.00,786.7,365.9,NaN,76.5,75.9,Q27

In [1017]:
df['Question Num'].value_counts()

Question Num
Q01    14422
Q02    14422
Q26    14422
Q25    14422
Q24    14422
Q23    14422
Q22    14422
Q21    14422
Q20    14422
Q19    14422
Q18    14422
Q17    14422
Q16    14422
Q15    14422
Q14    14422
Q13    14422
Q12    14422
Q11    14422
Q10    14422
Q09    14422
Q08    14422
Q07    14422
Q06    14422
Q05    14422
Q04    14422
Q03    14422
Q27    10916
Q28     2893
Name: count, dtype: int64

In [1]:
def get_index_col(data):
  data.index = np.arange(1, len(data) + 1)
  data['index1'] = data.index
  return data  

def get_qn27_data(data):
  q27_rows = data[data['Question Num'] == 'Q27']['index1'].values.tolist()
  with_27qn = pd.DataFrame(columns=list(data.columns))
  for i in range(len(q27_rows)):
    new_data_27 = data.iloc[q27_rows[i]-27:q27_rows[i]]
    with_27qn = pd.concat([with_27qn, new_data_27], ignore_index=True)
  return with_27qn

def get_qn28_data(data):
  q28_rows = data[data['Question Num'] == 'Q28']['index1'].values.tolist()
  with_28qn = pd.DataFrame(columns=list(data.columns))
  for i in range(len(q28_rows)):
    new_data_28 = data.iloc[q28_rows[i]-27:q28_rows[i]]
    with_28qn = pd.concat([with_28qn, new_data_28], ignore_index=True)
  return with_28qn

def generate_subsets(data):
  data = get_index_col(data)
  english_final = get_qn27_data(data)
  not_english_final = get_qn28_data(data)
  drop_rows_1 = not_english_final['index1'].values.tolist()
  drop_rows_2 = english_final['index1'].values.tolist()
  uk_final = data.copy()
  uk_final = data[~(data['index1'].isin(drop_rows_1))]
  uk_final = uk_final[~(uk_final['index1'].isin(drop_rows_2))]
  return english_final, not_english_final, uk_final

In [ ]:
english_final, not_english_final, uk_final = generate_subsets(df)

In [1018]:
df.index = np.arange(1, len(df) + 1)
df['index1'] = df.index
df.head()

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Option 1,Option 2,Option 3,Option 4,Option 5,Positivity,Response Rate,Question Num,index1
1,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How good are teaching staff at explaining thi...,226.8,296.1,60.82,146.13,18.33,1.5,NaN,91.3,76.6,Q01,1
2,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often do teaching staff make the subject ...,226.8,296.1,34.99,144.30,41.99,5.5,NaN,79.1,76.6,Q02,2
3,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often is the course intellectually stimul...,226.5,296.1,101.14,98.48,24.83,2.0,NaN,88.2,76.6,Q03,3
4,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often does your course challenge you to a...,226.8,296.1,97.63,98.82,28.33,2.0,NaN,86.6,76.6,Q04,4
5,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),To what extent have you had the chance to exp...,225.8,296.1,83.47,116.31,24.50,1.5,NaN,88.5,76.6,Q05,5

In [1019]:
q27_rows = df[df['Question Num'] == 'Q27']['index1'].values.tolist()
# df[(df['index1'].isin(q27_rows))]
with_27qn = pd.DataFrame(columns=list(df.columns))
for i in range(len(q27_rows)):
  new_df_27 = df.iloc[q27_rows[i]-27:q27_rows[i]]
  with_27qn = pd.concat([with_27qn, new_df_27], ignore_index=True)

C:\Users\pm_\AppData\Local\Temp\ipykernel_22356\4114474231.py:6: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  with_27qn = pd.concat([with_27qn, new_df_27], ignore_index=True)

In [1020]:
with_27qn.shape

(294732, 17)

In [1021]:
with_27qn['Question Num'].value_counts()

Question Num
Q01    10916
Q15    10916
Q26    10916
Q25    10916
Q24    10916
Q23    10916
Q22    10916
Q21    10916
Q20    10916
Q19    10916
Q18    10916
Q17    10916
Q16    10916
Q14    10916
Q02    10916
Q13    10916
Q12    10916
Q11    10916
Q10    10916
Q09    10916
Q08    10916
Q07    10916
Q06    10916
Q05    10916
Q04    10916
Q03    10916
Q27    10916
Name: count, dtype: int64

In [1022]:
q28_rows = df[df['Question Num'] == 'Q28']['index1'].values.tolist()
# df[(df['index1'].isin(q28_rows))]
with_28qn = pd.DataFrame(columns=list(df.columns))
for i in range(len(q28_rows)):
  new_df_28 = df.iloc[q28_rows[i]-27:q28_rows[i]]
  with_28qn = pd.concat([with_28qn, new_df_28], ignore_index=True)

C:\Users\pm_\AppData\Local\Temp\ipykernel_22356\2640449595.py:6: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  with_28qn = pd.concat([with_28qn, new_df_28], ignore_index=True)

In [1023]:
with_28qn.shape

(78111, 17)

In [1027]:
len(with_28qn['Question Num'].unique())

27

In [1035]:
78111 / 27

2893.0

In [1033]:
with_28qn[with_28qn['Question Num'] == 'Q27']

Empty DataFrame
Columns: [UKPRN, Provider name, Level of study, Subject code, Subject, Question, Responses, Population, Option 1, Option 2, Option 3, Option 4, Option 5, Positivity, Response Rate, Question Num, index1]
Index: []

In [1041]:
not_english_final = with_28qn.copy()
english_final = with_27qn.copy()
# uk_final = df[((~df['index1'].isin(q27_rows)) & ((~df['index1'].isin(q28_rows))))]

In [1054]:
drop_rows_1 = not_english_final['index1'].values.tolist()
drop_rows_2 = english_final['index1'].values.tolist()
uk_final = df.copy()
uk_final = df[~(df['index1'].isin(drop_rows_1))]
uk_final = uk_final[~(uk_final['index1'].isin(drop_rows_2))]

In [1055]:
print(not_english_final.shape)
print(english_final.shape)
print(uk_final.shape)

(78111, 17)
(294732, 17)
(15938, 17)

In [1056]:
df.shape

(388781, 17)

In [1057]:
uk_final[uk_final['Question Num'] == 'Q28']

Empty DataFrame
Columns: [UKPRN, Provider name, Level of study, Subject code, Subject, Question, Responses, Population, Option 1, Option 2, Option 3, Option 4, Option 5, Positivity, Response Rate, Question Num, index1]
Index: []

In [1058]:
for val in q28_rows:
  if val == 25962:
    print('y')

y

In [1059]:
not_english_final[not_english_final['index1'] == 25962]

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Option 1,Option 2,Option 3,Option 4,Option 5,Positivity,Response Rate,Question Num,index1
26,NI,Northern Ireland,All undergraduates,CAH01-01-02,Medicine (non-specific),"Overall, I am satisfied with the quality of t...",233.0,285.0,66.0,119.0,21.0,18.0,9.0,79.4,83.2,Q28,25962

In [1060]:
uk_final['Question Num'].value_counts()

Question Num
Q01    613
Q02    613
Q25    613
Q24    613
Q23    613
Q22    613
Q21    613
Q20    613
Q19    613
Q18    613
Q17    613
Q16    613
Q15    613
Q14    613
Q13    613
Q12    613
Q11    613
Q10    613
Q09    613
Q08    613
Q07    613
Q06    613
Q05    613
Q04    613
Q03    613
Q26    613
Name: count, dtype: int64

In [1063]:
# not_english_final.to_csv('data/2023/not_english.csv', index=False)
# english_final.to_csv('data/2023/english.csv', index=False)
# uk_final.to_csv('data/2023/uk.csv', index=False)

In [1064]:
check = pd.read_csv('data/2023/uk.csv')
check.head()

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Option 1,Option 2,Option 3,Option 4,Option 5,Positivity,Response Rate,Question Num,index1
0,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How good are teaching staff at explaining thi...,226.8,296.1,60.82,146.13,18.33,1.5,NaN,91.3,76.6,Q01,1
1,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often do teaching staff make the subject ...,226.8,296.1,34.99,144.30,41.99,5.5,NaN,79.1,76.6,Q02,2
2,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often is the course intellectually stimul...,226.5,296.1,101.14,98.48,24.83,2.0,NaN,88.2,76.6,Q03,3
3,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often does your course challenge you to a...,226.8,296.1,97.63,98.82,28.33,2.0,NaN,86.6,76.6,Q04,4
4,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),To what extent have you had the chance to exp...,225.8,296.1,83.47,116.31,24.50,1.5,NaN,88.5,76.6,Q05,5